
#Table1 td{ 
    border-right: 2px solid #00F;
}

#map{
  height: 150%;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    button, input, optgroup, select, textarea {
        color: black;
        font-weight: normal;

    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
        line-height: 20px;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
            line-height: 20px;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }